<!DOCTYPE html>
<html>
  <head>
    <title>CrudRailsReact</title>

    <%= javascript_pack_tag( 'index' ) %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>